*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $Very-dark-blue-main-background;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.pad {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
